<div class="card p-3 mb-3">
  <%= form_with(model: utility, class: "needs-validation", novalidate: true) do |form| %>
    <% if utility.errors.any? %>
      <div class="alert alert-danger">
        <h4 class="alert-heading"><%= pluralize(utility.errors.count, "error") %> prohibited this utility from being saved:</h4>
        <ul>
          <% utility.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mb-3">
      <%= form.label :name, "Utility Name", class: "form-label" %>
      <%= form.text_field :name, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :quantityperset, "Quantity Per Set", class: "form-label" %>
      <%= form.number_field :quantityperset, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :category_utility_id, "Select a Category", class: "form-label" %>
      <%= form.collection_select :category_utility_id, CategoryUtility.all, :id, :name, prompt: "Select a category", class: "form-select" %>
    </div>

    <div class="mb-3">
      <%= form.submit "Save Utility", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>