<p style="color: green"><%= notice %></p>

<% content_for :title, "Utilities" %>

<h1>
  <span>Utility List</span>
</h1>

<%= form_with url: utilities_path, method: :get, class: "mb-3", local: true do %>
  <div class="row">
    <div class="col-md-4">
      <%= text_field_tag :search, params[:search], placeholder: "Search Utility", class: "form-control" %>
    </div>
    <div class="col-md-1">
      <%= submit_tag "Search", class: "btn btn-secondary w-100" %>
    </div>
    <div class="col-md-1">
      <%= link_to "Reset", utilities_path, class: "btn btn-outline-secondary w-100" %>
    </div>
    <div class="col-md-3">
     <%= link_to "New Utility", new_utility_path, class: "btn btn-grad mb-3" %>
     </div>
  </div>
<% end %>

<div id="utility">
  <table class="table">
    <thead style="background-color: #a2e292; color: black;">
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Type</th>
        <th>Quantity/Set</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @utilities.each_with_index do |utility, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= utility.name %></td>
          <td><%= utility.category_utility ? utility.category_utility.name : 'No Category' %></td>
          <td><%= utility.quantityperset %></td>
          <td>
            <%= link_to "Show", utility, class: "btn btn-primary btn-sm" %> 
            <%= link_to "Edit", edit_utility_path(utility), class: "btn btn-warning btn-sm" %>
            <%= link_to "Delete", utility, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
