<p style="color: green"><%= notice %></p>

<% content_for :title, "Kiosks" %>

<h1>Kiosks</h1>

<%= form_with url: kiosks_path, method: :get, class: "mb-3", local: true do %>
  <div class="row">
    <div class="col-md-4">
      <%= text_field_tag :search, params[:search], placeholder: "Search Kiosk", class: "form-control" %>
    </div>
    <div class="col-md-2">
      <%= submit_tag "Search", class: "btn btn-secondary w-100" %>
    </div>
    <div class="col-md-2">
      <%= link_to "Reset", kiosks_path, class: "btn btn-outline-secondary w-100" %>
    </div>
    <div class="col-md-4">
     <%= link_to "New Kiosk", new_kiosk_path, class: "btn btn-grad mb-3" %>
     </div>
  </div>
<% end %>

<div id="kiosks">
  <table class="table">
    <thead style="background-color: #a2e292; color: black;">
      <tr>
        <th>#</th>
        <th>Code</th>
        <th>Location</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @kiosks.each_with_index do |kiosk, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= kiosk.name %></td>
          <td><%= kiosk.location %></td>
          <td>
            <%= link_to "Show", kiosk , class: "btn btn-primary btn-sm"%> 
            <%= link_to "Edit", edit_kiosk_path(kiosk),  class: "btn btn-warning btn-sm" %> 
            <%= link_to "Delete", kiosk, method: :delete, data: { confirm: "Are you sure?" } , class: "btn btn-danger btn-sm"%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
