<p style="color: green"><%= notice %></p>

<% content_for :title, "Kiosks" %>

<h1>Kiosks</h1>

<div id="search-and-add" style="margin-bottom: 20px;">
  <%= link_to "New Kiosk", new_kiosk_path, class: "btn btn-grad", style: "margin-left: 10px;" %>
  <%= form_with url: kiosks_path, method: :get, local: true, class: "form-inline" do |form| %>
  <%= form.text_field :search, value: params[:search], placeholder: "Enter kiosk code or location", class: "form-control", style: "margin-right: 10px;" %>
    <% end %>
</div>

<div id="kiosks">
  <table class="table">
    <thead style="background-color: #a2e292; color: black;">
      <tr>
        <th>#</th>
        <th>Code</th>
        <th>Location</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @kiosks.each_with_index do |kiosk, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= kiosk.name %></td>
          <td><%= kiosk.location %></td>
          <td>
            <%= link_to "Show", kiosk %> |
            <%= link_to "Edit", edit_kiosk_path(kiosk) %> |
            <%= link_to "Delete", kiosk, method: :delete, data: { confirm: "Are you sure?" } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
