<div class="navbar">
  <div class="container">
    <!-- Logo Section -->
    <div class="logo">
      <span class="brand-name">LokalitiesFood</span>
    </div>

    <!-- Navbar Items -->
    <div class="nav-items">
      <%= link_to "Home", class: "nav-item" %>
       <%= link_to "Kiosk", class: "nav-item" %>
      <%= link_to "Attendant", class: "nav-item" %>
      <%= link_to "Product", class: "nav-item" %>
      <%= link_to "Combo", class: "nav-item" %>
      <%= link_to "Utilities",class: "nav-item" %>
    </div>

    <!-- Logout Button -->
    
      <div class="form-group">
            <%= submit_tag 'Log Out', class: 'btn btn-grad create-account' %>
      </div>
  </div>
</div>