<div class="navbar">
  <div class="container">
    <!-- Logo Section -->
    <div class="logo">
      <span class="brand-name">LokalitiesFood</span>
    </div>

    <!-- Navbar Items -->
    <div class="nav-items">
      <%= link_to "Home", admin_dashboard_path, class: "nav-item" %>
      <%= link_to "Kiosk", kiosks_path, class: "nav-item" %>
      <%= link_to "Attendant", class: "nav-item" %>
      <%= link_to "Product", products_path,  class: "nav-item" %>
      <%= link_to "Combo", class: "nav-item" %>
      <%= link_to "Utilities", utilities_path, class: "nav-item" %>
    </div>

    <!-- Logout Button -->
    
      <div class="form-group">
            <%= submit_tag 'Log Out', class: 'btn btn-grad create-account' %>
      </div>
  </div>
</div>