<!-- Sidebar -->
<div class="sidebar">
  <!-- Logo Section -->
  <div class="logo">
    <span class="brand-name">LokalitiesFood</span>
  </div>

  <!-- Navigation Links -->
<div class="nav-items">
  <%= link_to "<i class='bi bi-house-door'></i> Home".html_safe, users_dashboard_path,class: "nav-item" %> 
  <%# link_to "<i class='bi bi-shop'></i> Check In".html_safe, time_in_kiosk_path, class: "nav-item" %>
  <%# <%= link_to "<i class='bi bi-person'></i> Attendant".html_safe, attendant_shifts_path, class: "nav-item" %> 
  <%# <%= link_to "<i class='bi bi-box'></i> Product".html_safe, products_path, class: "nav-item" %> 
  <%# <%= link_to "<i class='bi bi-boxes'></i> Combo".html_safe, combos_path, class: "nav-item" %> 

</div>


  <!-- Logout Button -->
  <div class="form-group">
    <%= button_to 'Check Out', users_check_out_path, method: :post, data: { confirm: 'Are you sure you want to check out?' }, class: "btn btn-grad" %>
  </div>
</div>

<!-- Sidebar Toggle Button -->
<button class="sidebar-toggle">
  ☰
</button>


<script>
document.addEventListener("DOMContentLoaded", () => {
  const sidebar = document.querySelector(".sidebar");
  const toggleButton = document.querySelector(".sidebar-toggle");

  // Ensure the toggleButton exists before adding the event listener
  if (toggleButton) {
    toggleButton.addEventListener("click", () => {
      sidebar.classList.toggle("active");
    });
  }
});
</script>